.pcalendar-nonwork-day,
.pevent-summary-holyday {
    color: rgb(245, 127, 145);
}
.pcalendar-other-month-nonwork-day {
    color: rgba(245, 127, 145, 0.50);
    opacity: 0.5;
}
.pday-label,
.pdate-label,
.pevents-title,
.pevent-placeholder,
.pevent-summary,
.pcalendar-month-label {
    text-align: right;
    direction: rtl;
}
