.pcalendar-nonwork-day,
.pevent-summary-holyday {
    color: rgb(221, 75, 75);
}
.pcalendar-other-month-nonwork-day {
    color: rgba(221, 75, 75, 0.50);
    opacity: 0.5;
}
.pdate-label,
.pevents-title {
    font-size: 120%;
}
.pday-label,
.pevent-summary {
    font-size: 80%;
}
.pday-label,
.pdate-label,
.pevents-title,
.pevent-placeholder,
.pevent-summary,
.pcalendar-month-label {
    text-align: right;
    direction: rtl;
}